@font-face {
	font-family: 'Conv_Lato-Regular';
	src: url('../fonts/Lato-Regular/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Lato-Italic';
	src: url('../fonts/Lato-Italic/Lato-Italic.eot');
	src: local('☺'), url('../fonts/Lato-Italic/Lato-Italic.woff') format('woff'), url('../fonts/Lato-Italic/Lato-Italic.ttf') format('truetype'), url('../fonts/Lato-Italic/Lato-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Lato-Bold';
	src: url('../fonts/Lato-Bold/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}