/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .works_block{
    height: auto;
    }

    .works_block>img{
        height: auto;
    }

    .works_block_retro{
        height: auto;    
    }
    .works_block_retro_content{
        height: 330px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .works_block{
    height: auto;
    }

    .works_block>img{
        height: auto;
    }

    .works_block_retro{
        height: auto;    
    }
    .works_block_retro_content{
        height: 350px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .menu{
        flex-direction: column;
        background-color: rgba(225, 219, 226, 0.8);
        border-radius: 5px;    
    }
    .menu li{
        line-height: 30px;
        text-align: center;
    }

    .new_ganaration{        
        padding: 70px 0;        
    }

    .new_ganaration_block h1{
        margin: 25px 0;        
        font-size: 15px;        
        letter-spacing: 3px;
    }

    .new_ganaration_block p{  
        text-align: justify;
        padding: 0 20px;        
        font-size: 14px;    
        line-height: 24px;
    }

    .works_block{
    height: auto;
    }

    .works_block>img{
        height: auto;
    }

    .works_block_retro{
        height: auto;    
    }
    .works_block_retro_content{
        height: 300px;
    }

    .works_block_retro_content img{
        margin-top: 40px;
    }

    .works_block_retro_content h2{
        margin: 20px 0;        
        font-size: 14px;        
        letter-spacing: 3px;
    }

    .works_block_retro_content p{        
        padding: 0 35px;    
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 25px;  
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .menu{
        flex-direction: column;
        background-color: rgba(225, 219, 226, 0.8);
        border-radius: 5px;    
    }
    .menu li{
        line-height: 30px;
        text-align: center;
    }

    .new_ganaration{        
        padding: 35px 0;        
    }

    .new_ganaration_block h1{
        margin: 25px 0;        
        font-size: 14px;        
        letter-spacing: 2px;
    }

    .new_ganaration_block p{ 
        text-align: justify; 
        padding: 0 15px;            
        font-size: 13px;    
        line-height: 20px;
    }
    .works_block{
        height: auto;
    }

    .works_block>img{
        height: auto;
    }

    .works_block_retro{
        height: auto;    
    }
    .works_block_retro_content{
        height: 300px;
    }
    .works_block_retro_content h2{
        margin: 20px 0;        
        font-size: 13px;        
        letter-spacing: 2px;
    }

    .works_block_retro_content p{        
        padding: 0 35px;    
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 25px;  
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .menu{
        flex-direction: column;
        background-color: rgba(225, 219, 226, 0.8);
        border-radius: 5px;    
    }
    .menu li{
        line-height: 30px;
        text-align: center;
    }

    .new_ganaration{        
        padding: 25px 0;        
    }

    .new_ganaration_block h1{
        margin: 15px 0;        
        font-size: 12px;        
        letter-spacing: 1px;
    }

    .new_ganaration_block p{ 
        text-align: justify; 
        padding: 0 10px;             
        font-size: 11px;    
        line-height: 15px;
    }

    .works_block{
    height: auto;
    }

    .works_block>img{
        height: auto;
    }

    .works_block_retro{
        height: auto;    
    }
    .works_block_retro_content{
        height: 250px;
    }
    .works_block_retro_content h2{
        margin: 10px 0;        
        font-size: 11px;        
        letter-spacing:1px;
    }

    .works_block_retro_content p{        
        padding: 0 35px;    
        font-size: 10px;
        line-height: 14px;
        padding-bottom: 25px;  
    }
}