/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1500px) {
	.wrapper{
		width: 90%;
	}

	.block-name {
		font-size: 30px;
		line-height: 36px;
		position: relative;
		padding-top: 27px;
	}

	.main_desc-item-name {
		margin-bottom: 29px;
	}

	.main_desc-item-top .main_desc-item-txt {
		margin-top: 50px;
	}

	.main_desc-item-txt {
		margin-left: 94px;
	}

	.main_desc-item-desc {
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 40px;
	}

	.main_desc-item-btm .main_desc-item-txt {
		margin-left: 0;
		margin-right: 70px;
	}

	.main_desc-item-top {
		margin-bottom: 100px;
	}
	
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.wrapper{
		width: 95%;
	}

	.main_desc-item-top .main_desc-item-txt {
		margin-top: 30px;
	}

	.main_desc-item-txt {
		margin-left: 40px;
	}

	.main_desc-item-btm .main_desc-item-txt {
		margin-right: 40px;
	}

	.main_desc-item-desc {
		font-size: 23px;
		line-height: 32px;
		margin-bottom: 22px;
	}

	.main_desc-item-name {
		margin-bottom: 9px;
	}

	.main_desc-item-list {
		font-size: 26px;
		line-height: 43px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-phone-link {
		font-size: 30px;
	}

	.header-name {
		font-size: 55px;
	}

	.main_desc-item-img1 {
		margin-top: -30px;
		width: 50%;
	}

	.main_desc-item-img2 {
		margin-bottom: -30px;
		width: 50%;
	}

	.block-name {
		font-size: 25px;
		line-height: 28px;
		position: relative;
		padding-top: 17px;
	}

	.main_desc-item-list {
		font-size: 23px;
	}

	.main_desc-item-top {
		margin-bottom: 50px;
	}

	.main_desc-item-desc {
		font-size: 19px;
		line-height: 29px;
	}

	.callback-form-name, .callback-form-tel {
		height: 54px;
		padding: 0px 19px;
		font-size: 21px;
	}

	.callback-form-submit {
		width: 208px;
		height: 54px;
		font-size: 22px;
		margin-top: 45px;
	}

	.callback_block-name {
		color: #fff;
		margin-bottom: 25px;
	}

	.callback_block-video {
		width: 52%;
	}

	.builder-content-item-txt {
		font-size: 21px;
		line-height: 29px;
	}

	.builder-content {
		margin-top: 70px;
		margin-bottom: 105px;
	}

	.builder {
		padding-top: 100px;
	}
	.footer-content {
		font-size: 17px;
		padding-top: 41px;
		padding-bottom: 52px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	header{
		padding-bottom: 50px;
	}

	.header-logo {
		margin-top: 0px;
	}

	.header-phone {
		display: none;
	}

	.header-desc {
		font-family: 'MyriadPro';
		font-size: 25px;
		font-weight: 400;
		line-height: 35px;
		margin-top: 17px;
	}

	.header-txt:before {
		top: calc(50% - 75px);
		width: 3px;
		height: 150px;
	}

	.header-txt {
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.header-name {
		font-size: 39px;
	}
	.header-hide-phone-link{
		display: flex;
		align-items: center;
		color: #fff;
		font-size: 22px;
		font-weight: 700;
		text-decoration: underline;
		margin-top: 252px;
		margin-left: 50px;
	}

	.header-callback {
		padding: 0 23px;
		height: 46px;
		line-height: 46px;
		text-align: center;
		width: 167px;
		display: block;
		border: 2px solid #fff;
		font-size: 20px;
		font-weight: 400;
		margin: 0 auto;
	}

	.callback-popap {
		padding: 59px 55px 58px;
		margin: 0 15px;
	}

	.main_desc{
		margin: 0px;
	}

	.main_desc .wrapper{
		padding: 50px 0;
	}

	.main_desc-item-top .main_desc-item-txt {
		margin-left: 0;
	}

	.main_desc-item-btm .main_desc-item-txt {
		margin-right: 0px;    
	}

	.main_desc-item-list,
	.main_desc-item-desc{
		margin: 0 15px;
	}

	.main_desc-item-img1,
	.main_desc-item-img2 {
		display: none;
	}

	.aptmnt_layout {
		margin-top: 50px;
	}

	.block-name:before {
		width: 130px;
		height: 3px;
	}

	.block-name {
		font-size: 28px;
		margin-left: 15px;
	}

	.aptmnt_style-desc {
		font-size: 23px;
		font-weight: 700;
		line-height: 37px;
		margin-bottom: 46px;
		width: 80%;
		margin-left: 15px;
	}

	.aptmnt_style-slider .slick-dots {
		bottom: -60px;
	}

	.aptmnt_style {
		padding-bottom: 120px;
	}

	.aptmnt_style-slider-item{
		padding: 0 20px;
	}

	.callback_block {
		padding: 70px 0;
	}

	.callback_block .wrapper {
		flex-direction: column;
	}

	.callback_block-video {
		width: 90%;
		margin-bottom: 40px;
	}

	.callback_block-content {
		width: 90%;
	}

	.builder {
		padding-top: 70px;
	}

	.builder-content {
		margin-top: 42px;
		margin-bottom: 74px;
		flex-direction: column;
		align-items: center;
	}

	.footer-content {
		font-size: 16px;
	}

	.footer-content-desc{
		line-height: 23px;
	}

	.footer-content-loc {
		margin-top: 32px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header {
		padding-bottom: 40px;
		background-image: url('../img/mobile_bg.jpg');
	}

	.callback-popap {
		padding: 41px 31px 35px;
	}

	.header-hide-phone-link {
		margin-top: 155px;
	}

	.header-logo {
		max-width: 160px;
	}

	.header-name {
		font-size: 28px;
		line-height: 28px;
	}

	.header-desc {
		font-size: 20px;
		line-height: 30px;
		margin-top: 17px;
	}

	.header-txt {
		padding-left: 17px;
		margin-top: 30px;
		margin-bottom: 29px;
		margin-left: 15px;
	}

	.block-name {
		font-size: 22px;
		margin-left: 15px;
	}

	.main_desc-item-list {
		font-size: 19px;
		font-family: 'MyriadPro';
		margin-top: 30px;
		li{
			line-height: 25px;
		}
	}

	.aptmnt_layout-slider-item-name {
		font-size: 23px;
		margin-top: 40px;
	}

	.aptmnt_layout-slider-item-size {
		font-size: 23px;
		font-weight: 300;
		margin-top: 16px;
	}

	.aptmnt_layout-slider-item {
		border: 3px solid #b7b7b7;
		margin: 0 5px;
		padding: 30px 0;
		text-align: center;
		z-index: 999;
	}

	.aptmnt_layout {
		padding-bottom: 100px;
		overflow: hidden;
	}

	.aptmnt_style-desc {
		font-size: 17px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 35px;
		width: 80%;
		margin-left: 15px;
	}

	.aptmnt_style-name {
		margin-bottom: 28px;
	}

	.aptmnt_style-slider .slick-dots button:before {
		font-size: 10px;
	}

	.slick-dots li {
		padding: 0;
	}

	.aptmnt_style {
		padding-bottom: 80px;
	}

	.builder-content-item-txt {
		font-size: 19px;
		line-height: 25px;
		margin: 0;
	}

	.builder-content{
		padding: 0 15px;
	}

	.builder-content-item-txt{
		margin: 20px 0;
		width: 70%;
	}

	.builder-content-item {
		align-items: center;
		justify-content: space-between;
	}

	.callback-form-name, .callback-form-tel {
		height: 44px;
		padding: 0px 12px;
		font-size: 19px;
	}

	.callback-form-submit {
		width: 196px;
		height: 52px;
		font-size: 19px;
		margin-top: 38px;
	}

	.callback_block {
		padding: 60px 0;
	}



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}