@font-face {
    font-family: 'Conv_WisdomScriptAJ';
    src: url('../Fonts/WisdomScriptAJ.ttf');
}
@font-face {
	font-family: 'MontserratRegular';
	src:  url('../Fonts/MontserratRegular.ttf');
}
@font-face {
	font-family: 'Droider-Serif-Regular';
	src:  url('../Fonts/DroidSerif-Regular.ttf');
}
@font-face {
	font-family: 'RobotoSlab-Regular';
	src:  url('../Fonts/RobotoSlab-Regular.ttf');
}
