/*
font-family: 'Conv_WisdomScriptAJ';
font-family: 'MontserratRegular';
font-family: 'Droider-Serif-Regular';
font-family: 'RobotoSlab-Regular';
*/
.container{
    width: 940px;
    margin: 0 auto;
}
.container2{
    width: 1400px;
    margin: 0 auto;
}

.clearfix{
    content: '';
    clear: both;
    display: table;
}

/*----------Header--------*/

header{
    background: url("../img/header_img.png") no-repeat top center;



}
.header-logo{
    margin-top: 40px;
    margin-right: 323px;
    float: left;
    display: block;
}
.header-logo-link{
    font-family: 'Conv_WisdomScriptAJ';
    width: 79px;
    height: 28px;
    color: rgb(254, 209, 54);
    font-size: 26px;
    line-height: 41px;
    text-decoration: none;
    display: block;
}
.header-logo-link:hover{
    text-decoration: underline;
}
.header-nav{
    float: right;
    margin-top: 55px;
}
.header-nav-list{
    font-family: 'MontserratRegular';
    font-size:14px;
}
.header-nav-item{
    float: left;
    margin-left: 40px;
}
.header-nav-item a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.header-nav-item a:hover {
    text-decoration: underline;
}
.header-content{
    text-align: center;
    margin-top: 205px;
}


.header-content-welcome{
    color: white;
    font-family: 'Droider-Serif-Regular';
    font-size: 40px;
    font-style: italic;
    margin-bottom: 50px;
}
.header-content-ntmy{
    height: 55px;
    color: white;
    font-family: 'MontserratRegular';
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.header-content-cta {
    height: 59px;
    border: 3px solid rgb(254, 209, 54);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    font-family: 'MontserratRegular';
    padding: 0 48px;
    display: inline-block;
    line-height: 56px;
    text-decoration: none;
    background-color: rgb(254, 209, 54);
    margin-bottom: 153px;
}

.header-content-cta:hover{
    background-color: black;
}

/*----------Header-End--------*/

/*----------Services---------*/

.services{
    margin: 0 auto;
}
.services-header{
    text-align: center;
}
.services-header-main{
    color: rgb(34, 34, 34);
    font-family: 'MontserratRegular';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 20px;
}
.services-header-grec{
    color: rgb(119, 119, 119);
    font-family: 'Droider-Serif-Regular';
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px;
}
.kinds-of-services{
    text-align: center;
    /*float: left;*/
}
.commerce, .responsive-web, .web-security{
    float: left;
    width: 290px;
}
.responsive-web{
    margin: 0 35px;
}
.kinds-of-services-img{
    margin-bottom: 25px;
}
.kofs-header{
    color: rgb(34, 34, 34);
    font-family: 'MontserratRegular';
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.kofs-text1{
    color: rgb(119, 119, 119);
    font-family: 'RobotoSlab-Regular';
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 120px;
}

/*----------Services-End--------*/

/*----------Portfolio---------*/
.portfolio{
    background-color: rgb(247, 247, 247);

    /*background: url("../img/background-portfolio.png");*/
    /*height: 1218px;*/
    /*width: 1400px;*/
    /*margin: 0 auto;*/
}
.portfolio-header, .about-header{
    text-align: center;
    color: rgb(34, 34, 34);
    font-family: 'MontserratRegular';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 120px;
    margin-bottom: 20px;
}
.little-header{
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'Droider-Serif-Regular';
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px;
}
.portfolio-content{
    /*margin: 0 auto;*/
    padding-bottom: 120px;
}
.portfolio-content-pictures{
    float: left;
}

.portfolio-content-text{
    text-align: center;
    padding: 30px;
    background-color: white;
}
.portfolio-link{
    text-decoration: none;

}
.portfolio-link:hover{
    text-decoration: underline;
}
.portfolio-text-1{
    color: rgb(51, 51, 51);
    font-family: 'MontserratRegular';
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.portfolio-text-2{
    color: rgb(115, 115, 115);
    font-family: 'Droider-Serif-Regular';
    font-size: 14px;
    font-style: italic;
}
.top{
    margin-bottom: 50px;
}
.center{
    margin: 0 30px;
}

/*----------Portfolio-End--------*/

/*----------ABOUT_US---------*/




.history-content-left{
    float: left;
    margin-bottom: 90px;
}
.history-content-right{
    float: right;
    margin-bottom: 90px;

}
.history-content-img-left{
    margin-left: 55px;

}
.history-content-img-right{
    margin-right: 55px;
    margin-left: 200px;

}
.history-content-text-left{
    text-align: right;
    float: left;
    /*margin-right: 40px;*/
}
.history-content-text-right{
    text-align: left;
    float: right;
    /*margin-left: 40px;*/

}
.history-content-text1, .history-content-text2{
    color: rgb(34, 34, 34);
    font-family: 'MontserratRegular';
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.history-content-text2{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.history-content-text3{
    color: rgb(119, 119, 119);
    font-family: 'RobotoSlab-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.our-story{
    float: left;
    position: relative;
    left: calc(50% - 91.5px);
    margin-bottom: 120px;
}

/*----------ABOUT_US-END---------*/

/*----------OUR_TEAM---------*/

.our-team{
    background-color: rgb(249, 249, 249);
    height: 818px;
}
.contacts-column{
    text-align: center;
    float: left;
    width: 33.3%;
    margin-bottom: 50px;
}
.face{
    width: 234px;
    height: 234px;
    border: 3px solid black;
    border-radius: 100%;
}
.name{
    color: rgb(34, 34, 34);
    font-family: 'MontserratRegular';
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
}
.position{
    color: rgb(119, 119, 119);
    font-family: 'RobotoSlab-Regular';
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}
.contacts-links-ss:hover{
    text-blink: ;
}
.coment{
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'RobotoSlab-Regular';
    font-size: 16px;
    font-weight: 400;
}

/*----------OUR_TEAM-END--------*/

/*----------SITE-LINKS---------*/

.four-links{
    margin: 60px 0;
    text-align: center;
}
.site-link{
    margin: 0 20px;
}

/*----------SITE-LINKS-END---------*/

/*----------CONTACT_US---------*/

.contact_us{
    background-image: url("../img/Map-Image.png");
    height: 677px;
}
.contact_us-header{
    text-align: center;
    color: white;
    font-family: 'MontserratRegular';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 120px;
    margin-bottom: 20px;
}
.contact_us-input{
    /*float: left;*/
    text-align: center;
}
.contact_us-input-left, .contact_us-input-right{
    width: 50%;
    float: left;
}
.contact_us-form-inputs{
    height: 50px;
    width: 455px;
}
.contact_us-form-inputs{
    color: rgb(187, 187, 187);
    font-family: 'MontserratRegular';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact_us-form-inputs:nth-child(2){
    margin: 30px 0;
}
.contact_us-form-right-inputs{
    height: 224px;
    width: 455px;
    margin-left: 30px;
}
.contact_us-form-right-inputs{
    color: rgb(187, 187, 187);
    font-family: 'MontserratRegular';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact_us-content-cta {
    height: 59px;
    border: 3px solid rgb(254, 209, 54);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    font-family: 'MontserratRegular';
    padding: 0 48px;
    display: inline-block;
    line-height: 56px;
    text-decoration: none;
    background-color: rgb(254, 209, 54);
    margin-top: 30px;
}

/*----------CONTACT_US-END---------*/

/*----------COPYRIGHT---------*/

.copyright-txt{
    color: rgb(85, 85, 85);
    font-family: 'MontserratRegular';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 120px;
    margin-top: 10px;
    margin-bottom: 30px;
    float: left;
}
.copyright-img{
    margin-top: 20px;
}


































