// font-family: 'Roboto Condensed', sans-serif;

body{
	font-family: 'Roboto Condensed', sans-serif;
	// font-size: 50px;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

@keyframes blink{
	0%, 100%{
		opacity: 0.8;
	}
	50%{
		opacity: 1;
	}
}

.button{
	padding: 16px 38px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: rgb(3, 169, 244);
	border-radius: 6px;
	box-shadow: -1px 0 6px rgba(0, 0, 0, 0.4);
	transition: 1s;
	animation: blink 2s infinite;
	&:hover{
		transform: scale(1.1);
		text-decoration: none;
	}
}

.sidebar_left{
	background-color: #313133;
	height: 100vh;
	width: 95px;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 9999999;
}

.menu_logo{
	margin-top: 20vh;
	margin-bottom: 18px;
}

.main_menu{
	width: 100%;
}

.main_menu_item{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	text-decoration: none;
	padding: 15px 0;
	transition: 0.5s;
	font-weight: 700;
	text-transform: uppercase;
	&:hover{
		background-color: #dde1e4;
		color: #434343;
	}
}

.main_menu_item_img{
	margin-bottom: 10px;
}

.menu_social-links{
	margin-top: 10vh;
}

.menu_social-links_item{
	display: block;
	padding: 5px;
}

.content{
	// margin-left: 93px;
}

.main_page{
	height: 100%;
	background-image: url('../img/main_bg.png');
	background-size: cover;
	margin-left: 93px;
}

.main_page_contacts{
	display: flex;
	justify-content: center;
	padding-top: 6px;
}

.main_page_contacts_item{
	margin-left: 58px;
	display: flex;
	align-items: center;
	img{
		margin-right: 8px;
	}
	span{
		font-size: 18px;
	}
}

.main_page-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
}

.main_logo{
	margin-top: 30vh;
}

.main_page-button{
	margin-top: 20vh;
}

.services_page{
	height: 100%;
	background: url('../img/services_bg1.png') rgba(0, 0, 0, 0.74);
	background-size: cover;	
	padding-top: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services_page-name{
	text-align: center;
	color: rgb(234, 234, 234);
	font-size: 25px;
	margin-bottom:30px;
	text-transform: uppercase;
	font-weight: 700;
}

.services_page_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 68vw;
	// margin-left: 14vw;
}

.services_page_content-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	
}

.services_page_content-name{
	font-size: 20px;
	margin-top: 10px;
	color: #fff;
}

.services_page_content-price{
	color: rgb(203, 203, 203);
	font-size: 20px;
	font-style: italic;
	margin-top: 18px;
}

.services_page-button{
	margin-top: 13vh;
}

.about_page{
	height: 100%;
	background-image: url('../img/about_bg.png');
	background-size: cover;
	// padding-left: 93px;
	// padding-top: 40px;
	display: flex;
	justify-content: center;
}

.about_page_content{
	display: flex;
	justify-content: space-around;
	margin-top: 20vh;
	width: 82vw;
}

.about_page_gallery{
	// margin-left: 20px;
	display: flex;
	max-height: 455px;
	
}

.about_page_gallery_l{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 20px;
}

.about_page_desc{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 435px;
}

.about_page_img{
	margin: 10px 0;
}

.about_page_name{
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

.about_page_txt{
	font-size: 15px;
	line-height: 18px;
	font-style: italic;
	font-weight: 700;
	span{
		font-style: nrmal;
	}
}

.contacts_page{
	margin-left: 93px;
	height: 100%;
	position: relative;
	z-index: 1; 
	iframe{
		height: 100%;
		width: 100%;
		z-index: 1; 
		// pointer-events: none;
		// mask-image: image(url('../img/map-wrap.png'));
	}
}

.contacts_page_mask{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('../img/map-wrap.png') top center no-repeat;
	background-size: cover;
	pointer-events: none;
	z-index: 10;
	color: #fff;
}

.contacts_page_content{
	width: 214px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 62vw;
	margin-top: 38vh;
	z-index: 999999;
	pointer-events: auto;
}

.contacts_page_name{
	font-size: 20px;
	font-weight: 700;
}

.contacts_page_address{
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 30px;
}

.contacts_page_contacts_item{
	font-size: 18px;
	margin-bottom: 22px;
}

.contacts_page__social-links_item{
	margin-right: 15px;
	z-index: 999999;
}

.contacts_page-button{
	margin-top: 50px;
}


















