footer{
	background-image: url("../../img/background-footer.png");
	padding-top: 38px;
}

.footer-top{
	padding-bottom: 28px;
	border-bottom: 1px solid #f6b0c1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.footer-categories-wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	// flex-wrap: wrap;
	// justify-content: space-between;
}

.footer-categories-list:first-child{
	margin-right: 70px;
}

.footer-categories-name,
.footer-customers-name,
.footer-social-name,
.footer-contacts-name{
	font-weight: 700;
}

.footer-categories-list-item,
.footer-customers-list-item{
	margin-top: 10px;
}

.foorer-social-wrap{
	margin-top: 15px;	
}

.footer-social-link{
	margin-right: 23px;
}
.footer-social-link:hover{
	text-decoration: none;
}

.footer-social-link:last-child{
	margin-right: 0;
}

.footer-contacts-item{
	padding-top: 12px;
}

.footer-contacts-img{
	margin-right: 11px;
}

.footer-contacts-tel{
	margin-right: 14px;
}

.footer-bottom{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding-bottom: 18px;
}

.footer-copyright{
	line-height: 20px;
}

.footer-copyright,
.footer-pay{
	margin-top: 24px;
}

.footer-e-stock{
	margin-top: 14px;
}

.footer-e-stock-txt{
	font-size: 14px;
	color: #cf6f99;
}

.footer-e-stock-mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 290px;
  margin: 0 auto;
  margin-top: 4px;
}
.footer-e-stock-mail-input {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  width: 100%;
  height: 39px;
  border: none;
  padding-left: 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  outline: none;
  background: white;  
}
.footer-e-stock-search-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute; 
  top: 0;
  right: 0px;
  background: #178fcf;
  width: 118px;
  height: 39px;
  border: none;
  color: white;
  -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
  cursor: pointer;
}




